/* styles/Home.module.css */
.container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgba(2, 255, 255, 0.527);
    background-image: url('h1.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #5CE1CE;
    mix-blend-mode: color;
    z-index: 1;
  }
  

  .content {
    position: relative;
    z-index: 2;
    color: white;
    
  }

  
  
  
  
  
  

  
  
  
  
  
  

  
  
  
  
  
  
